<!DOCTYPE html>
<html lang="en">

<%- include('includes/header') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <body class="js">
        <style>
            body {
                margin-top: 20px;
            }

            .steps {
                border: 1px solid #e7e7e7
            }

            .steps-header {
                padding: .375rem;
                border-bottom: 1px solid #e7e7e7
            }

            .steps-header .progress {
                height: 1.25rem
            }

            .steps-body {
                display: table;
                table-layout: fixed;
                width: 100%
            }

            .step {
                display: table-cell;
                position: relative;
                padding: 1rem .75rem;
                -webkit-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
                border-right: 1px dashed #dfdfdf;
                color: rgba(0, 0, 0, 0.65);
                font-weight: 600;
                text-align: center;
                text-decoration: none
            }

            .step:last-child {
                border-right: 0
            }

            .step-indicator {
                display: block;
                position: absolute;
                top: .75rem;
                left: .75rem;
                width: 1.5rem;
                height: 1.5rem;
                border: 1px solid #e7e7e7;
                border-radius: 50%;
                background-color: #fff;
                font-size: .875rem;
                line-height: 1.375rem
            }

            .has-indicator {
                padding-right: 1.5rem;
                padding-left: 2.375rem
            }

            .has-indicator .step-indicator {
                top: 50%;
                margin-top: -.75rem
            }

            .step-icon {
                display: block;
                width: 1.5rem;
                height: 1.5rem;
                margin: 0 auto;
                margin-bottom: .75rem;
                -webkit-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
                color: #888
            }

            .step:hover {
                color: rgba(0, 0, 0, 0.9);
                text-decoration: none
            }

            .step:hover .step-indicator {
                -webkit-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
                border-color: transparent;
                background-color: #f4f4f4
            }

            .step:hover .step-icon {
                color: rgba(0, 0, 0, 0.9)
            }

            .step-active,
            .step-active:hover {
                color: rgba(0, 0, 0, 0.9);
                pointer-events: none;
                cursor: default
            }

            .step-active .step-indicator,
            .step-active:hover .step-indicator {
                border-color: transparent;
                background-color: #337ab7;
                color: #fff
            }

            .step-active .step-icon,
            .step-active:hover .step-icon {
                color: #337ab7;
            }

            .step-completed .step-indicator,
            .step-completed:hover .step-indicator {
                border-color: transparent;
                color: #33cb81;
                line-height: 1.25rem
            }

            .step-completed .step-indicator .feather,
            .step-completed:hover .step-indicator .feather {
                width: .875rem;
                height: .875rem
            }

            @media (max-width: 575.98px) {
                .steps-header {
                    display: none
                }

                .steps-body,
                .step {
                    display: block
                }

                .step {
                    border-right: 0;
                    border-bottom: 1px dashed #e7e7e7
                }

                .step:last-child {
                    border-bottom: 0
                }

                .has-indicator {
                    padding: 1rem .75rem
                }

                .has-indicator .step-indicator {
                    display: inline-block;
                    position: static;
                    margin: 0;
                    margin-right: 0.75rem
                }
            }

            .bg-secondary {
                background-color: #f7f7f7 !important;
            }
        </style>
        <style>
            label {
                margin-top: 7px;
                margin-bottom: 7px;
                color: #505050;
            }

            hr {
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .active_tab {
                text-decoration: underline #000 solid;
                color: rgb(0, 0, 0);
            }

            .none {
                display: none;
            }

            body {
                transition: 1s;
            }

            td {
                vertical-align: inherit !important;
            }
        </style>
        <div id="preloader"></div>
        <section class="about-us">
            <%- include('includes/logo_menu') %>
        </section>


        <section class="contact-page-area">
            <div class="container">
                <div class="col-md-12" style="margin-bottom: 30px;">
                    <h1>Ваши заказы</h1>
                </div>
                <%- include('includes/profile_sidebar') %>
                    <div class="col-md-8" style="padding: 15px;">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Пункт А</th>
                                        <th>Пункт Б</th>
                                        <th>Расстояние</th>
                                        <th>Цена</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach(function(order, index) { %>
                                        <tr>
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <%= order.from %>
                                            </td>
                                            <td>
                                                <%= order.to %>
                                            </td>
                                            <td>
                                                <%= order.km_value %>
                                            </td>
                                            <td>
                                                <%= order.transport_sum_value %> ₸
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        Действия
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <li><a class="dropdown-item" id="track_cargo" href="#"
                                                                data-track_id="<%= order.track_id %>"><i
                                                                    class="fa fa-eye" aria-hidden="true"></i> Отследить
                                                                заказ</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="/deleteUsersOrder?id=<%= order._id %>&redir=myorders"><i
                                                                    class="fa fa-ban" aria-hidden="true"></i> Отменить
                                                                заказ</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </section>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.6/sweetalert2.min.js"></script>
        <script>
            const track = document.querySelectorAll('#track_cargo');

            track.forEach(element => {
                element.addEventListener('click', async function () {

                    let track_id = element.dataset.track_id;
                    let cargoInfo = await trackCargo(track_id);

                    console.log(cargoInfo);

                    let progress = (cargoInfo.track_status + 1) * 25;
                    if(progress > 100) progress = 0;

                    let modalContent = `<div class="pb-5 mb-sm-4" style="max-width: 900px;">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-4 mb-2">
                            <div class="p-4 text-dark text-center"><span class="font-weight-semibold mr-2">Текущий
                                    статус: </span>${cargoInfo.track_status_text}</div>
                        </div>
                        <div class="col-sm-4 mb-2">
                            <div class="p-4 text-dark text-center"><span class="font-weight-semibold mr-2">Дата
                                    заказа: </span>${cargoInfo.date}</div>
                        </div>
                    </div>
                    <div class="steps">
                        <div class="steps-header">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: ${progress}%" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="steps-body">
                            <div class="step ${cargoClass(cargoInfo.track_status, 0)}">
                                <i class="fa fa-check-circle step-indicator" aria-hidden="true"></i>
                                <i class="fa fa-cog step-icon" aria-hidden="true"></i>
                                    Заказ в обработке
                            </div>
                            <div class="step ${cargoClass(cargoInfo.track_status, 1)}">
                                <i class="fa fa-check-circle step-indicator" aria-hidden="true"></i>
                                <i class="fa fa-check-circle-o step-icon" aria-hidden="true"></i>
                                Заказ оформлен
                            </div>
                            <div class="step ${cargoClass(cargoInfo.track_status, 2)}">
                                <i class="fa fa-check-circle step-indicator" aria-hidden="true"></i>
                                <i class="fa fa-truck step-icon" aria-hidden="true"></i>
                                Заказ в дороге
                            </div>
                            <div class="step ${cargoClass(cargoInfo.track_status, 3)}">
                                <i class="fa fa-check-circle step-indicator" aria-hidden="true"></i>
                                <i class="fa fa-home step-icon" aria-hidden="true"></i>
                                    Заказ доставлен
                            </div>
                        </div>
                    </div>
                </div>`;

                    Swal.fire({
                        title: 'Отслеживание заказа',
                        width: '1024px',
                        showCloseButton: true,
                        html: modalContent
                    });
                });
            });

            function cargoClass(status, n) {
                if (status > n && status < 4 || status == 3) {
                    return 'step-completed';
                }
                else if (status == n) {
                    return 'step-active';
                }
                else {
                    return '';
                }
            }


            async function trackCargo(track_id) {
                let cargoInfo = await fetch(`/trackCargo/${track_id}`);

                cargoInfo = await cargoInfo.json();

                return cargoInfo;
            }
        </script>
        <%- include('includes/footer') %>
    </body>

</html>